.App {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.App-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url('./img/header-background-image.jpg');
    background-size: cover;
    border-bottom: 3px solid slateblue;
}

.App-header h1 {
    margin: 0;
    padding:2em 2em 0 2em;
    color: #fff;
    font-weight:200;
    letter-spacing:3px;
    
}

.header-date {
    color: #fff;
}

.App-main h2 {
        margin: 0;
        color: grey;
        font-weight: 200;
    }

.App-main {
    padding: 2em;
}

.task-counter {
    color: #fff;
    text-align: left;
}

.task-counter ul {
    list-style: none;
}

.todo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding-bottom:20px;
  
}

    .todo-container input {
        padding: 5px;
        margin-right: 5px;
    }

    .todo-container button {
        padding: 5px 10px;
    }

.todo-list {
    list-style-type: none;
    padding-left: 0; 
    margin-top: 0;
}

.todo-list li {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* Add padding, margin, and other styles for the list items */
    padding: 20px;
    cursor: move;
    transition: background-color 0.3s;
}

.todo-list li:hover {
    /* Add styles to highlight the list items on hover */
    /* background-color: #dfdfdf;*/
    border: 1px grey dashed;
}

    .todo-list li.drag-over {
        /* Add styles to highlight the drop target */
        border: 10px black dotted;
    }

.todo-text {
    text-align: left;
    margin-right:10px;
    font-weight:300;
    width: 50%;
}
.todo-icons {
    text-align:right;
    align-content:flex-end;
    width: 45%;
}

.todo-text.completed {
    text-decoration: line-through;
    font-weight:500;
}

.todo-priority-checkbox {
    margin: 20px;
}

.todo-high-priority {
    background-color: slateblue;

}

.todo-low-priority {
    border-bottom: 3px solid lightgray;
}


.delete-icon, .priority-icon, .completed-icon {
    cursor: pointer;
    padding-left: 15px;
}

.white {
    color: #fff;
}

.green {
    color: forestgreen;
}