.App {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.todo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

    .todo-container input {
        padding: 5px;
        margin-right: 5px;
    }

    .todo-container button {
        padding: 5px 10px;
    }

.todo-list {
    list-style-type: none;
    padding-left: 0;
}

    .todo-list li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
    }

.todo-text.completed {
    text-decoration: line-through;
}

.delete-icon {
    cursor: pointer;
}
