.App {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.App-header-container {
    position: sticky;
    top:0;
}

.App-header {
    background-color: #00997B;
    display:flex;
    padding: 1em 1em 0 1em;
}

.header-title {
    
    color: #fff;
    font-size: 1.1em;
    text-align: left;

}

.header-left-column {
    flex-basis: 30%;
}
.header-right-column {
    flex-basis: 70%;
}

.header-date {
    color: #fff;
    text-align:right;
 }

.header-date h3 {
    padding-bottom: 0;
}

.weather-widget {
    color: #fff;
}

.app-instructions {
    text-align: left;
    color: #788381;
}

    .app-instructions h3 {
        margin: 0;
        color: grey;
        font-weight: 200;
    }

    .app-instructions ol {
        padding-left: 20px;
    }

    .app-instructions li {
        font-weight: 600;
        font-size: 0.8em;
        margin-bottom: 5px;
    }

.App-main {
    padding: 1em;
}

.task-counter {
    color: #fff;
    text-align: left;
    margin-bottom: 30px;    
   
}

    .task-counter ul {
        list-style: none;
        background-color: #02B491;
        border-radius: 10px;
        margin: 0;
        width:75px; 
        padding: 10px;
    }

    .task-counter li:first-child {
        margin-bottom: 5px;
    }

.weather-widget {
    text-align: right;
    flex-grow: 1;
    font-family: 'Open Sans', sans-serif;
}

.todo-entry-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    background: #EEEEEE;
    padding: 3px;
    box-shadow: 0px 0px 10px 0px gray;
}

    .todo-entry-container input {
        padding: 20px;
        margin-right: 5px;
        width: 57%;
        border: 0;
        background: #EEEEEE;
        font-size:1em;
    }

    .todo-entry-container button {
        padding: 5px 10px;
        border: 0;
        background: #EEEEEE;
    }

.add-icon {
    font-size: 24px;
    color: dimgrey;
    background: #EEEEEE;
}

.todo-list {
    list-style-type: none;
    padding-left: 0; 
    margin-top: 0;
}

.todo-list li {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
    /* Add padding, margin, and other styles for the list items */
    padding: 20px;
    cursor: move;
    transition: background-color 0.3s;
    border-bottom: 3px solid lightgray;
}

.todo-list li:hover {
    /* Add styles to highlight the list items on hover */
    border: 1px grey dashed;
}

    .todo-list li.drag-over {
        /* Add styles to highlight the drop target */
        border: 10px black dotted;
    }

.todo-text {
    text-align: left;
    margin-right: 10px;
    font-weight: 300;
    flex-basis: 60%;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.todo-link-button {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1), 0 3px 10px 0 rgba(0,0,0,0.1);
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    border: 0;
    display: inline-block;
}

.todo-icons {
    display: flex;
    align-self:flex-end;
    font-size: 20px;
    flex-basis: 40%;
}

.todo-text.completed {
    text-decoration: line-through;
    font-weight:500;
}



.delete-icon, .completed-icon {
    cursor: pointer;
    padding: 0 0 5px 15px;
}

.white {
    color: #fff;
}

.black {
    color: #000;
}

.green {
    color: #0E7B66;
}

.group-selector {
    float: right;
    width: 106px;
    margin: -5px -5px 0 10px;
    padding: 4px 4px 0 0;
    border-radius: 25px;
}

.color-option {
    padding-left: 7px;
    font-size:20px;
    cursor: pointer;
}

.color-option:first-child {
    padding-left: 5px;
}

.color-option svg {
    stroke: lightgray;
}

.color-option.selected {
     border: 0;

}



